@import "~bootstrap/scss/bootstrap.scss";

.principal {
    text-align: center;
    background-color: black;
}

.principal div {
    display: inline-block;
    background-color: #101010;
    color: white;
    border: black 2px solid;
    border-radius: 5px;
    border-color: black;
    font-size: 50px;
    padding: 20px;
}